<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
     <name>dfs.nameservices</name>
     <value>{{ cdh5_dfs_nameservices }}</value>
  </property>

  <property>
     <name>dfs.ha.namenodes.{{ cdh5_dfs_nameservices }}</name>
     <value>{{ groups['hadoop_namenode'] | join(',') }}</value>
  </property>

  {% for host in groups['hadoop_namenode'] %}
<property>
    <name>dfs.namenode.rpc-address.{{ cdh5_dfs_nameservices }}.{{ host }}</name>
    <value>{{ host }}:8020</value>
  </property>
  {% endfor %}

  {% for host in groups['hadoop_namenode'] %}
<property>
    <name>dfs.namenode.http-address.{{ cdh5_dfs_nameservices }}.{{ host }}</name>
    <value>{{ host }}:50070</value>
  </property>
  {% endfor %}

  <!-- the location of the shared storage directory -->
  <property>
    <name>dfs.namenode.shared.edits.dir</name>
    <value>qjournal://{{ groups['hadoop_journalnode'] | join(':8485' + ';') }}:8485/{{ cdh5_dfs_nameservices }}</value>
  </property>

  <!-- the path where the JournalNode daemon will store its local state -->
  <property>
    <name>dfs.journalnode.edits.dir</name>
    <value>{{ cdh5_dfs_journalnode_edits_dir }}</value>
  </property>

  <!-- the Java class that HDFS clients use to contact the Active NameNode -->
  <property>
    <name>dfs.client.failover.proxy.provider.{{ cdh5_dfs_nameservices }}</name>
    <value>org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider</value>
  </property>

  <property>
    <name>dfs.ha.fencing.methods</name>
    <value>{{ cdh5_fencing_methods }}</value>
  </property>


  {% if cdh5_fencing_private_key is defined %}
  <property>
    <name>dfs.ha.fencing.ssh.private-key-files</name>
    <value>{{ cdh5_fencing_private_key }}</value>
  </property>
  {% endif %}

  <property>
    <name>dfs.ha.automatic-failover.enabled</name>
    <value>true</value>
  </property>

  <property>
     <name>dfs.permissions.superusergroup</name>
     <value>hadoop</value>
  </property>
  <property>
     <name>hadoop.tmp.dir</name>
     <value>/var/lib/hadoop-hdfs/cache/${user.name}</value>
  </property>
  <property>
     <name>dfs.namenode.name.dir</name>
     <value>{{ cdh5_dfs_nn_name_dir_list | join(',') }}</value>
  </property>
  <property>
     <name>dfs.datanode.data.dir</name>
     <value>{{ cdh5_dfs_dn_data_dir_list | join(',') }}</value>
  </property>
</configuration>
