[cdh5-all:children]
cdh5-namenode
cdh5-journalnode
cdh5-zookeeperserver
cdh5-resourcemanager
cdh5-httpfs
cdh5-hbase
cdh5-slave
cdh5-hive
cdh5-oozie
cdh5-pig
cdh5-spark

[cdh5-namenode:children]
cdh5-namenode-primary
cdh5-namenode-backup

[cdh5-namenode-primary]
masater01

[cdh5-namenode-backup]
masater02

[cdh5-journalnode]
master01
master02
master03

[cdh5-zookeeperserver]
master01 zoo_id=1
master02 zoo_id=2
master03 zoo_id=3

[cdh5-resourcemanager]
master02

[cdh5-httpfs]
master01

[cdh5-hbase:children]
cdh5-hbase-master
cdh5-hbase-regionserver

[cdh5-hbase-master]
master01

[cdh5-hbase-regionserver]
slave01
slave02
slave03
slave04
slave05

[cdh5-slave]
slave01
slave02
slave03
slave04
slave05

[cdh5-hive]
client01

[cdh5-oozie]
client01

[cdh5-pig]
client01

[cdh5-spark:children]
cdh5-spark-master
cdh5-spark-worker

[cdh5-spark-master]
master01

[cdh5-spark-worker]
slave01
slave02
slave03
slave04
slave05
