127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# hadoop pseudo
{% for i in ec2_hadoop_pseudo_result.results %}
{% for j in i.tagged_instances %}
{{ j.private_ip }} {{ i.item.name }}
{% endfor %}
{% endfor %}
