#!/bin/bash
SCRIPT_DIR="$(cd "$(dirname "$0")"; pwd)"
ALLUXIO_HOME="$(cd "${SCRIPT_DIR}/../../.."; pwd)"
ALLUXIO_TARFILE="alluxio.tar.gz"

source "${SCRIPT_DIR}/common.sh"

rm -rf $ALLUXIO_TARFILE

tar -C $ALLUXIO_HOME -zcf $ALLUXIO_TARFILE \
  assembly/target/alluxio-assemblies-${VERSION}-jar-with-dependencies.jar libexec \
  core/server/src/main/webapp \
  bin conf integration/yarn/bin/common.sh integration/yarn/bin/alluxio-master-yarn.sh \
  integration/yarn/bin/alluxio-worker-yarn.sh \
  integration/yarn/bin/alluxio-application-master.sh \
