[ambari]
name=ambari {{ ambari_server_os }}
baseurl=http://public-repo-1.hortonworks.com/ambari/{{ ambari_server_os }}/{{ ambari_server_major_ver }}/updates/{{ ambari_server_ver }}/ambari.repo
enabled=1
gpgcheck=0
