[cloudera-cdh{{ cdh5_pseudo_version }}]
name=Cloudera's Distribution for Hadoop, Version {{ cdh5_pseudo_version }}
baseurl=http://archive.cloudera.com/cdh5/redhat/6/x86_64/cdh/{{ cdh5_pseudo_version }}
gpgkey =  http://archive.cloudera.com/cdh5/redhat/6/x86_64/cdh/RPM-GPG-KEY-cloudera
gpgcheck = 1


