WSGIScriptAlias /trac /var/trac/trac.wsgi
<Location /trac>
  WSGIApplicationGroup %{GLOBAL}
  Order deny,allow
  Allow from all
</Location>
<LocationMatch "/trac/.*/login">
  AuthType Basic
  AuthName "Trac"
  AuthUserFile /var/trac/.htpasswd
  Require valid-user
</LocationMatch>
