[hadoop_all:children]
hadoop_master
hadoop_client
hadoop_slave
hadoop_hbase
hadoop_spark

[hadoop_master:children]
hadoop_namenode
hadoop_journalnode
hadoop_zookeeperserver
hadoop_resourcemanager
hadoop_other
hadoop_httpfs

[hadoop_namenode:children]
hadoop_namenode_primary
hadoop_namenode_backup

[hadoop_namenode_primary]
master01

[hadoop_namenode_backup]
master02

[hadoop_journalnode]
master01
master02
master03

[hadoop_zookeeperserver]
master01 zookeeper_server_id=1
master02 zookeeper_server_id=2
master03 zookeeper_server_id=3

[hadoop_resourcemanager]
master02
master03

[hadoop_other]
master02

[hadoop_httpfs]
master02

[hadoop_hbase:children]
hadoop_hbase_master
hadoop_hbase_regionserver

[hadoop_hbase_master]
master01

[hadoop_hbase_regionserver]
slave01
slave02
slave03
slave04
slave05

[hadoop_slave]
slave01
slave02
slave03
slave04
slave05

[hadoop_client:children]
hadoop_hive
hadoop_oozie
hadoop_pig

[hadoop_hive]
client01

[hadoop_oozie]
client01

[hadoop_pig]
client01

[hadoop_spark:children]
hadoop_spark_master
hadoop_spark_worker

[hadoop_spark_master]
master01

[hadoop_spark_worker]
slave01
slave02
slave03
slave04
slave05

