# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
spark.master            {{ spark_comm_master }}
spark.eventLog.enabled  true
spark.eventLog.dir      {{ spark_comm_logdir }}
spark.serializer        org.apache.spark.serializer.KryoSerializer

spark.yarn.historyServer.address {{ spark_comm_historyserver }}:18080

spark.executor.instances {{ spark_comm_exe_instances }}

spark.driver.extraJavaOptions -Dhdp.version=2.3.4.0-3485
spark.yarn.am.extraJavaOptions -Dhdp.version=2.3.4.0-3485 -XX:+PrintGCDetails -XX:+PrintGCTimeStamps  -XX:MaxMetaspaceSize=256M
spark.executor.extraJavaOptions -Dhdp.version=2.3.4.0-3485 -XX:+PrintGCDetails -XX:+PrintGCTimeStamps  -XX:MaxMetaspaceSize=256M

spark.yarn.executor.memoryOverhead 512
spark.yarn.driver.memoryOverhead 512

spark.executorEnv.PATH /usr/local/anaconda2/bin:/usr/local/spark/default/bin:/usr/lib64/qt-3.3/bin:/usr/java/default/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/activator_mini/default:/usr/local/maven/default/bin:/usr/local/sbt/default/sbt/bin:/usr/local/scala/default/bin:/root/bin

{% if spark_comm_metrics_properties_path is defined %}
spark.metrics.conf {{ spark_comm_metrics_properties_path }}
{% endif %}
