[program:schema-registry]
command=schema-registry-start /etc/schema-registry/schema-registry.properties
user=kafka
autorestart=true
autostart=false
stdout_logfile=/var/log/kafka/schema-registry.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=5
stdout_capture_maxbytes=100MB
redirect_stderr=true
